<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sokoban">

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sokoban">
        <activity
            android:name=".game.GameDatabase"
            android:exported="false" />
        <activity
            android:name=".game.DetailBoard"
            android:exported="false" />
        <activity
            android:name=".game.ListeBoard"
            android:exported="false" />
        <activity
            android:name=".game.GameDefault"
            android:exported="false"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".game.GameWithTxtFile"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>